#logo {
  width: 212px;
  display: block;
  position: absolute;
  right: 15px;
  top: 25px;
  @include desktop {
    right: 30px;
  }
}

nav {
  height: 120px;
}

#desktop-menu {
  display: none;
  @include desktop {
    display: block;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 45px 0;

    li {
      a {
        font-size: 2.5rem;
      }
    }
  }
}

#menuToggle {
  @include desktop {
    display: none;
  }
}

/* animation au survol des liens */

#menu li a, #desktop-menu ul li a {
  color: $color-font;
  text-decoration: none;
  background: linear-gradient(to top, rgba($color-tertiary, 0.5) 0%, $color-tertiary 10%, transparent 10.01%) no-repeat left bottom;
  background-size: 0 100%;
  transition: background-size 300ms;
}

#menu li a:hover, #desktop-menu ul li a:hover {
  background-size: 100% 100%;
}