:root {
  font-size: 10px;
}

* {
  font-family: 'Fraunces', sans-serif;
  color: $color-font;
  font-size: 1.6rem;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}