/* basé sur le modèle et les explications de https://www.web-eau.net/blog/comment-realiser-un-menu-deroulant-en-css3 */

#product-info {
  li {
    list-style: none !important;
    color: #fff;
    padding: 10px;
    text-decoration: none;
  }
  ul {
    background-color: $color-tertiary;
    margin: auto;
    display: block;
    width: 180px;
    li {
      list-style: none;
      line-height: 44px;
      text-align: center;
      background-color: $color-tertiary;
      text-shadow: 0 1px 1px $color-font;
      a {
        color: #fff;
        padding: 10px;
        text-decoration: none;
      }
    }
  }
}

#product-info {
  li:active {
    border-bottom: 3px #fff solid;
  }
}

#product-info ul li ul {
  display: none;
} /* rend le menu déroulant caché par défaut */

#product-info ul li:active ul {
  z-index: 99999;
  display: list-item !important;
  position: absolute;
  margin: 5px 0 0 -10px;
  li {
    float: none;
  }
}