#index-section {
  margin: 20px auto;
  ul {
    margin: 20px auto;
  }
}

#index-section-list {
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  a {
    @include desktop {
      display: inline-block;
    }
  }
}