//colors
$color-primary: #E2E4A6;
$color-secondary: #6F2D00;
$color-tertiary: #AA6639;
$color-font: #261624;

//media queries breakpoints//
$break-tablet: 450px;
$break-desktop: 769px;
$break-hd: 1350px;