//colors
$color-primary: #D9CCC1;
$color-secondary: #A69586;
$color-tertiary: #8C7A70;
$color-font: #261624;

//media queries breakpoints//
$break-tablet: 450px;
$break-desktop: 769px;
$break-hd: 1350px;